/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { /*line-height: 1;*/ background:#ffffff; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.clear										{ clear:both; }
/* #Basic Styles
================================================== */
body { background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:12px; }

/* #TOP (Menu & Logo)
================================================== */
.logo a { text-decoration: none; }
.logo a:hover { color:#22aaee; }

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 { color: #181818; font-family:Arial, Helvetica, sans-serif; font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; }
h2 { font-size: 35px; line-height: 40px; }
h3 { font-size: 28px; line-height: 34px; }
h4 { font-size: 21px; line-height: 30px; }h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }
p { margin: 0 0 20px 0; font-family:'Arial'; line-height:19px;  }p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }
em { font-style: italic; }strong { font-weight: bold; color: #333; }
small { font-size: 80%; }


/* #Blockquotes
================================================== */
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }blockquote cite { display: block; font-size: 12px; color: #555; }blockquote cite:before { content: "\2014 \0020"; }blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
/* #Links================================================== */a, a:visited { color: #333; text-decoration: underline; outline: 0; }a:hover, a:focus { color: #000; }p a, p a:visited { line-height: inherit; }
/* #Lists================================================== */ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }ol { list-style: decimal; }ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }ul ul, ul ol,ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }ul ul li, ul ol li,ol ol li, ol ul li { margin-bottom: 6px; }li { line-height: 18px; margin-bottom: 12px; }ul.large li { line-height: 21px; }
li p { line-height: 21px; }
/* #Images================================================== */img.scale-with-grid { max-width: 100%; height: auto; }img.size-auto,img.size-full,img.size-large,
img.size-medium,.attachment img {	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */}
.alignleft, img.alignleft { display: inline; float: left; margin-right: 24px; margin-top: 4px;  }
.alignright, img.alignright { display: inline;  float: right; margin-left: 24px; margin-top: 4px; }
.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; }img.alignleft, img.alignright, img.aligncenter { margin-bottom: 12px; }
.wp-caption { background: #f1f1f1; line-height: 18px; margin-bottom: 20px; max-width: 632px !important; padding: 4px; text-align: center; }
.wp-caption img { margin: 5px 5px 0; }
.wp-caption p.wp-caption-text { color: #888; font-size: 12px; margin: 5px; }
.wp-smiley { margin: 0; }
.gallery { margin: 0 auto 18px; }
.gallery .gallery-item {  float: left; margin-top: 0; text-align: center; width: 33%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery img { border: 2px solid #cfcfcf; }
.gallery-columns-2 .attachment-medium { max-width: 92%; height: auto; }
.gallery-columns-4 .attachment-thumbnail { max-width: 84%;	height: auto; }
.gallery .gallery-caption {  color: #888; font-size: 12px; margin: 0 0 12px; }
.gallery dl { margin: 0; }
.gallery img { border: 10px solid #f1f1f1; }
.gallery br+br { display: none; }
#content .attachment img {/* single attachment images should be centered */ display: block; margin: 0 auto; }


/* #Gallery listing
================================================== */
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img { border: 10px solid #f1f1f1; margin-bottom: 0; }
.format-gallery .gallery-thumb, .category-gallery .gallery-thumb { float: left; margin-right: 20px; margin-top: -4px; }
.home #content .format-gallery .entry-utility, .home #content .category-gallery .entry-utility { padding-top: 4px; }


/* #Attachment pages
================================================== */
.attachment .entry-content .entry-caption { font-size: 140%; margin-top: 24px; }
.attachment .entry-content .nav-previous a:before { content: '\2190\00a0'; }
.attachment .entry-content .nav-next a:after { content: '\00a0\2192'; }


/* #Forms
================================================== */
form { margin-bottom: 20px; }
fieldset { margin-bottom: 20px; }
input[type="text"], input[type="password"], input[type="email"], textarea, select { border: 1px solid #ccc; padding: 6px 4px; outline: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;  color: #777; margin: 0; min-width:100%; max-width:91%; display: block; margin-bottom: 20px; background: #fff; }
select { padding: 0; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus { border: 1px solid #aaa; color: #444; -moz-box-shadow: 0 0 3px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea { min-height: 60px; }
label, legend { font-weight: bold; font-size: 13px;  }
select { width: 220px; }
input[type="checkbox"] { display: inline; }
label span, legend span { font-weight: normal; font-size: 13px; color: #444; }


/* #Navigation
================================================== */
.navigation { color: #888; font-size: 12px; line-height: 18px; overflow: hidden; }
.navigation a:link, .navigation a:visited { color: #888; text-decoration: none; }
.navigation a:active, .navigation a:hover { color: #ff4b33; }
.nav-previous { float: left; width: 50%; }
.nav-next { float: right; text-align: right; width: 50%; }
#nav-above { margin: 0 0 18px 0; }
#nav-above { display: none; }
.paged #nav-above, .single #nav-above { display: block; }
#nav-below { margin: -18px 0 0 0; }


/* #Comments
================================================== */
#comments { clear: both;  }
#comments .navigation {	padding: 0 0 18px 0; }
h3#comments-title, h3#reply-title { color: #000; font-size: 20px; font-weight: bold; margin-bottom: 0; }
h3#comments-title { padding: 24px 0; }
.commentlist { list-style: none; margin: 0; }
.commentlist li.comment { border-bottom: 1px solid #e7e7e7; line-height: 24px; margin: 0 0 24px 0; padding: 0 0 0 56px; position: relative; }
.commentlist li:last-child { border-bottom: none; margin-bottom: 0; } 
#comments .comment-body ul, #comments .comment-body ol { margin-bottom: 18px; }
#comments .comment-body p:last-child { margin-bottom: 6px; }
#comments .comment-body blockquote p:last-child { margin-bottom: 24px; }
.commentlist ol { list-style: decimal; }
.commentlist .avatar { position: absolute; top: 4px; left: 0; }
.comment-author { }
.comment-author cite { color: #000; font-style: normal; font-weight: bold; }
.comment-author .says { font-style: italic; }
.comment-meta { font-size: 12px; margin: 0 0 18px 0; }
.comment-meta a:link, .comment-meta a:visited { color: #888; text-decoration: none; }
.comment-meta a:active, .comment-meta a:hover { color: #ff4b33; }
.commentlist .even {  }
.commentlist .bypostauthor { }
.reply { font-size: 12px; padding: 0 0 24px 0; }
.reply a,  a.comment-edit-link { color: #888; }
.reply a:hover, a.comment-edit-link:hover { color: #ff4b33; }
.commentlist .children { list-style: none; margin: 0; }
.commentlist .children li { border: none; margin: 0; }
.nopassword, .nocomments { display: none; }
#comments .pingback { border-bottom: 1px solid #e7e7e7; margin-bottom: 18px; padding-bottom: 18px; }
.commentlist li.comment+li.pingback { margin-top: -6px; }
#comments .pingback p { color: #888; display: block; font-size: 12px; line-height: 18px; margin: 0; }
#comments .pingback .url { font-size: 13px;	font-style: italic; }


/* #Comments form
================================================== */
input[type=submit] { color: #333; }
#respond { border-top: 1px solid #e7e7e7; margin: 24px 0; overflow: hidden; position: relative; }
#respond p { margin: 0; }
#respond .comment-notes { margin-bottom: 1em; }
.form-allowed-tags { line-height: 1em; }
.children #respond { margin: 0 48px 0 0; }
h3#reply-title { margin: 18px 0; }
#comments-list #respond { margin: 0 0 18px 0; }
#comments-list ul #respond { margin: 0; }
#cancel-comment-reply-link { font-size: 12px; font-weight: normal; line-height: 18px; }
#respond .required { color: #ff4b33; font-weight: bold; }
#respond label { color: #888; font-size: 12px; }
#respond input { margin: 0 0 9px; width: 98%; }
#respond textarea {  width: 98%; }
#respond .form-allowed-tags { color: #888; font-size: 12px; line-height: 18px; }
#respond .form-allowed-tags code { font-size: 11px; }
#respond .form-submit { margin: 12px 0; }
#respond .form-submit input { font-size: 14px; width: auto; }


/* #Widget Areas
================================================== */
.widget-area ul { list-style: none; margin-left: 0; }
.widget-area ul ul { list-style: square; margin-left: 1.3em; }
.widget-area select { max-width: 100%; }
.widget_search #s {/* This keeps the search inputs in line */ width: 60%;  }
.widget_search label { display: none; }
.widget-container { margin: 0 0 18px 0; }
.widget-title { color: #222; font-weight: bold; }
.widget-area a:link, .widget-area a:visited { text-decoration: none; }
.widget-area a:active, .widget-area a:hover { text-decoration: underline; }
.widget-area .entry-meta { font-size: 11px; }
#wp_tag_cloud div { line-height: 1.6em;  }
#wp-calendar { width: 100%; }
#wp-calendar caption { color: #222; font-size: 14px; font-weight: bold; padding-bottom: 4px; text-align: left; }
#wp-calendar thead { font-size: 11px; }
#wp-calendar thead th { }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; padding: 3px 0 2px; text-align: center; }#wp-calendar tbody .pad { background: none; } 
#wp-calendar tfoot #next { text-align: right; }.widget_rss a.rsswidget { color: #000; }
.widget_rss a.rsswidget:hover { color: #ff4b33; }
.widget_rss .widget-title img { width: 11px; height: 11px; }

/* #Sidebar
================================================== */
.sidebar { font: 14px/1.5em; font-family:Arial, Helvetica, sans-serif; }   
.sidebar li{ list-style: none; }
/* #Misc
================================================== */.title { padding-bottom: 15px; }	
.full-width{ padding-left: 10px; }
/* #Footer
================================================== */
.footer li{ list-style: none; padding-right: 15px; float: left; width: 220px; }